<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlj.sportgoods.user.mapper.UserGoodsMapper">
    <select id="getRefoundApplymentByAccount" resultType="com.wlj.sportgoods.user.entity.UserGoods">
        select * from user_goods where status = -1 and gid in (select id from goods where merchant = (select merchant from user where account = #{account}))
    </select>  
    <select id="getSalesByGid" resultType="Integer">
        SELECT SUM(num) AS total_sales 
        FROM user_goods 
        WHERE gid = #{gid} AND status = 1;
    </select> 
    <select id="getOrdersByAccount" resultType="com.wlj.sportgoods.user.entity.UserGoods">
        SELECT *
        FROM user_goods
        WHERE status != 0 and gid IN (
            SELECT id
            FROM goods
            WHERE merchant = (
                SELECT merchant
                FROM user
                WHERE account = #{account}
            )
        )
        ORDER BY finishTime DESC
    </select>
    <select id="getSalesDataByGid" resultType="Integer">
        SELECT SUM(num)
        FROM user_goods
        WHERE gid = #{gid} AND status = 1 AND finishTime BETWEEN #{currentDate} AND #{nextDate}
    </select>
</mapper>
