<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="/resources/js/vue.min.js"></script>
  <script src="/resources/js/axios.min.js"></script>
  <script src="/resources/js/lodash.min.js"></script>
  <link rel="stylesheet" href="/resources/css/element-ui.index.css">
  <script src="/resources/js/element-ui.index.js"></script>
  <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
  <script src="/resources/js/vue-virtual-scroller.js"></script>
  <link href="/resources/css/vue-virtual-scroller.css" rel="stylesheet">
  <style>
    ::-webkit-scrollbar {
      width: 8px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #eaecf1;
      border-radius: 3px;
    }

    /*表格*/
    .el-table__body-wrapper::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    .el-table__body-wrapper::-webkit-scrollbar-thumb {
      background-color: #a1a3a9;
      border-radius: 3px;
    }
  </style>
</head>
<body>
  <div id="app">

  </div>


  <script>
    var app = new Vue({
      el: "#app",
      data: {}
    })
  </script>
</body>
</html>